
PROJEKT/\.vs/

PROJEKT/packages/

PROJEKT/PROJEKT/PROJEKT\.Droid/obj/

PROJEKT/PROJEKT/PROJEKT/obj/

*.user

PROJEKT/NUnit\.Tests\.Droid1/obj/

PROJEKT/PROJEKT/PROJEKT/bin/

PROJEKT/PROJEKT/PROJEKT\.Droid/bin/
